# Node.js
node_modules/
.next/
.env

# Python/Django
__pycache__/
*.pyc
venv/
db.sqlite3
.env

# Rasa
rasa/.venv
models/
rasa/.pyc
.rasa
# Machine Learning
*.h5
*.pkl
logs/
.venv/

#flutter 
# Flutter/Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional)
# Uncomment the following line if you don't want to include VS Code settings in version control
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
