@tailwind base;
@tailwind components;
@tailwind utilities;

.transitions {
  @apply transition duration-300 ease-in;
}

/* to overwrite the margin top comes from fixed in my-profile when popup appear
.fixed {
  @apply mt-0 !important ;
} */

section {
  padding: 4rem 0;
}

@media (min-width: 640px) {
  section {
    padding: 4rem 0;
  }
}

@media (min-width: 768px) {
  section {
    padding: 6rem 0;
  }
}

.btn {
  @apply flex justify-center items-center gap-2 capitalize text-white  transition-all shadow-md whitespace-nowrap;
}

.btn-small {
  @apply py-1 px-2;
}
.btn-medium {
  @apply py-2 px-4;
}

.btn-large {
  @apply py-3 px-6;
}

.btn-extraLarge {
  @apply py-4 px-8;
}

.btn-primary {
  @apply bg-button hover:bg-hoverbutton;
}

.btn-secondary {
  @apply bg-subbutton hover:bg-hoversubbutton;
}
/* styles.css */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

@keyframes spin-smooth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-smooth {
  animation: spin-smooth 2s cubic-bezier(0.25, 0.8, 0.25, 1) infinite;
}

video {
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.95) 0%,
    rgba(0, 0, 0, 0.98) 50%,
    rgba(0, 0, 0, 0.95) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.95) 0%,
    rgba(0, 0, 0, 0.98) 50%,
    rgba(0, 0, 0, 0.95) 100%
  );
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 2px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
